.controlwidth {
	width: 95%;
}

.wellwidth {
	width: 98%;
}

.errorText {
	color: red;
}

.indent {
	padding-left: 1%;
	border: 1px solid lightgrey;
}
.indent-no-border {
	padding: 1%;
}
.errorDialog{
	top:-10%;
	left:-10%;
}

.additionalinfo {
	padding: 1%;
	font-size: 0.85em;
}

.spc{
	padding: 1%;
}

.ui-dialog{
position:absolute;
width: 80% !important;
z-index:103;
}
.ui-widget-overlay{
z-index:102;
position: fixed;
height: 100% !important;
}

hr{
	border-color: lightgrey !important;
}

.infoimage {
	margin-top: 7% !important;
}

.tooltiptext {
	position: absolute;
    text-align: center;  
    background-color: blue;
    color: #fff;
    padding: 10px 0;
	top: 0;
	left: 30%;
	width:40%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: small;
	z-index: 105;
	width: 70%;
}


